<div class="student">
  
    <div class="std-info">
        <span> <strong>ID:</strong> {{student.id}} </span>
    </div>
    <div class="std-info">
        <span> <strong>Name:</strong> {{student.name}} </span>
    </div>

    <div class="std-info">
        <span> <strong>GPA:</strong> {{student.gpa}} </span>
    </div>
    <div class="std-info">
        <span> <strong>DateOfBirth:</strong> {{student.date}} </span>
    </div>
    <div class="std-info">
        <span> <strong>RegesterDate:</strong> {{student.regester}} </span>
    </div>
</div>


